streamlit
torch
torchvision
mediapipe==0.10.21
pandas
numpy
Pillow
joblib
plotly
streamlit-aggrid
matplotlib
seaborn
tqdm
timm
gdown
scikit-learn
tensorflow==2.13.0
opencv-python-headless==4.9.0.80


